{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ parent() }}

    <!-- splash page -->
    <!--
     Image belongs to Andi Campbell Jones
     desc: Humber Sunset – A scenic view up the Humber estuary and on to the iconic Humber bridge. Taken from the foreshore I loved the way the light of the sunset was reflecting off the pebbles giving an extra dynamic to this picture.
     src: http://andicampbelljones.com/sunsets-sunrises-best-of/
     -->
    <div class="bg">
        <div class="caption">
            <span class="name">Daniel Chadwick</span><br>
            <span id="subname"></span><br>
            <div class="social-links">
                <div class="link-container">
                    <a class="fade-links show" href="https://www.linkedin.com/in/danieljchadwick/" target="_blank">
                        <img src="{{ asset('img/social_linkedin.png') }}"/>
                    </a>

                    <a class="fade-links show" href="https://github.com/danis2gd" target="_blank">
                        <img src="{{ asset('img/social_github.png') }}"/>
                    </a>
                    <a class="fade-links show" href="{{ path('app_cv') }}">
                        <img src="{{ asset('img/social_cv.png') }}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- sticky nav -->
    {{ include("inc/nav.html.twig") }}

    <!-- sticky social bar -->
    <div class="social-bar">
        <a href="https://www.linkedin.com/in/danieljchadwick/" target="_blank">
            <img src="{{ asset('img/social_linkedin.png') }}"/>
        </a>
        <a href="https://github.com/danis2gd" target="_blank">
            <img src="{{ asset('img/social_github.png') }}"/>
        </a>
        <a href="{{ path('app_cv') }}">
            <img src="{{ asset('img/social_cv.png') }}"/>
        </a>
    </div>

    {% block page_content %}

    {% endblock page_content %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(() => {
            $('#contactModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });

            window.onscroll = function () {
                //navbar scroll effect
                const navbar = document.querySelector('.navbar');
                const splash = document.querySelector('.bg');
                const container = document.querySelector('.initial-container');

                if ((window.pageYOffset) >= splash.clientHeight) {
                    navbar.classList.add('sticky');
                    container.classList.add('padded');
                } else {
                    navbar.classList.remove('sticky');
                    container.classList.remove('padded');
                }

                //social links activation
                if (document.body.scrollTop > (splash.clientHeight / 2) || document.documentElement.scrollTop > (splash.clientHeight / 2)) {
                    //document.getElementsByClassName("bg")[0].style.height = "25%";
                    document.getElementsByClassName('social-bar')[0].style.display = 'inherit';

                } else {
                    // document.getElementsByClassName("bg")[0].style.height = "100%";
                    document.getElementsByClassName('social-bar')[0].style.display = 'none';
                }
            };

            const typed6 = new Typed('#subname', {
                strings: ['Developer'],
                typeSpeed: 101,
                backSpeed: 0,
                loop: false
            });
        });
    </script>
{% endblock %}