{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link href="{{ asset("css/splash.css") }}" rel="stylesheet" />
    <link href="{{ asset("css/nav.css") }}" rel="stylesheet" />
    <link href="{{ asset("css/footer.css") }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">


    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }

        .social-bar {
            background-color: #cacaca;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            text-align: center;
            border-radius: 2px 2px 0 0;
            display: none;
            z-index: 10000;
        }

        .social-bar img {
            height: 35px;
            margin: 5px;
        }

        /**

            DEV STYLES

        */

        h2 {
            margin-top:0;
        }

        /*

            transition effects

        */
        .fade-links {
            opacity: 0.5;  /* Opacity for Modern Browsers */
            filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
            zoom: 1;  /* Fix for IE7 */
        }

        .fade-links:hover {
            opacity: 1;  /* Opacity for Modern Browsers */
            filter: alpha(opacity=1);  /* Opacity for IE8 and lower */
        }

        /*
            CSS Grid - Features Bar
        */
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "item1 item2 item3";
            margin: 0 20% -20px 20%;
        }

        .quickInfo {
            text-align: center;
            line-height: 100px;
        }


        .item1 {
            grid-area: item1;
        }

        .item2 {
            grid-area: item2;
        }

        .item3 {
            grid-area: item3;
        }

        .item4 {
            grid-area: item4;
        }

        .item5 {
            grid-area: item5;
        }

        .item6 {
            grid-area: item5;
        }


        /*
            CSS Grid - Footer
        */

        .footer-container {
            /* formatting */
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "item1  item2  item3 " "item4  item5  item6" "siteInfo siteInfo siteInfo";

            /* styling */
            padding: 0 10% 0 10%;
            background-color: gray;
            color: white;
        }

        .siteInfo {
            grid-area: siteInfo;
        }

        .siteInfo > p {
            text-align: center;
        }

        /*

        main container styles

        */
        .mainContainer {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e8e8+0,ffffff+100 */
            background: #e8e8e8; /* Old browsers */
            background: -moz-linear-gradient(top, #e8e8e8 0%, #ffffff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #e8e8e8 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #e8e8e8 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
        }

    </style>
{% endblock %}

{% block body %}
    {{ parent() }}

    <!-- splash page -->
    <!--
     Image belongs to Andi Campbell Jones
     desc: Humber Sunset – A scenic view up the Humber estuary and on to the iconic Humber bridge. Taken from the foreshore I loved the way the light of the sunset was reflecting off the pebbles giving an extra dynamic to this picture.
     src: http://andicampbelljones.com/sunsets-sunrises-best-of/
     -->
    <div class="bg">
        <div class="caption">
            <span class="name">Daniel Chadwick</span><br>
            <span id="subname"></span><br>
            <div class="social-links">
                <a class="fade-links show" href="https://www.linkedin.com/in/danieljchadwick/" target="_blank">
                    <img src="{{ asset('img/social_linkedin.png') }}"/>
                </a>
                <a class="fade-links show" href="https://github.com/danis2gd" target="_blank">
                    <img src="{{ asset('img/social_github.png') }}"/>
                </a>
                <a class="fade-links show" href="/cv">
                    <img src="{{ asset('img/social_cv.png') }}"/>
                </a>
            </div>
        </div>
    </div>

    <!-- sticky nav -->
    {{ include("inc/nav.html.twig") }}

    <!-- feature container -->
    <!--
    <div class="grid-container">
        <div class="quickInfo item1">
            Content
        </div>
        <div class="quickInfo item2">
            Content
        </div>
        <div class="quickInfo item3">
            Content
        </div>
    </div>
    -->

    <!-- sticky social bar -->
    <div class="social-bar">
        <a href="#">
            <img src="{{ asset('img/social_linkedin.png') }}"/>
        </a>
        <a href="#">
            <img src="{{ asset('img/social_github.png') }}"/>
        </a>
        <a href="#">
            <img src="{{ asset('img/social_cv.png') }}"/>
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#contactModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });

            window.onscroll = function () {
                //navbar scroll effect
                var navbar = $('.navbar');
                var splash = $('.bg');
                var brand = $('.navbar-brand');
                var sticky = navbar.offsetTop;

                if ((window.pageYOffset + 30) >= splash[0].clientHeight) {
                    navbar[0].classList.add("sticky");

                    $('.info-row').css('margin-top', '40px');
                } else {
                    navbar[0].classList.remove("sticky");
                    $('.info-row').css('margin-top', '0');

                }

                //first scroll control
                //splash page shrinker
                //social links activation
                if (document.body.scrollTop > (splash[0].clientHeight / 2) || document.documentElement.scrollTop > (splash[0].clientHeight / 2)) {
                    //document.getElementsByClassName("bg")[0].style.height = "25%";
                    document.getElementsByClassName("social-bar")[0].style.display = "block";

                } else {
                   // document.getElementsByClassName("bg")[0].style.height = "100%";
                    document.getElementsByClassName("social-bar")[0].style.display = "none";
                }
            };
        });

        document.addEventListener('DOMContentLoaded', function () {
            var typed6 = new Typed('#subname', {
                strings: ['PHP Developer`'],
                typeSpeed: 101,
                backSpeed: 0,
                loop: false
            });
        });

    </script>
{% endblock %}