{% extends 'index.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('portfolio') }}
{% endblock javascripts %}

{% block page_content %}
	<!-- about me -->
	<div id="about-me" class="about-container initial-container">
		<div class="about-content px-16 pb-8 sm:px-12 sm:pb-14">
			<h2 class="heading">About Me</h2>

			<p>
				Developer at Wren Kitchens working with mainly PHP7/Symfony Framework, LESS/CSS, JavaScript, Twig/HTML,
				MySQL on a variety of internal and external services. Also experienced using Doctrine ORM, PHPUnit,
				Behat, RabbitMQ, AWS, Docker, and Elasticsearch.
			</p>

			<p>
				I studied at the University of Hull for my BSc Computer Science. Whilst at University I mainly used C#
				but have developed in PHP, Java, C++, C and JavaScript and studied an array of key concepts such as MVC
				frameworks, data structures, and algorithms to name a few.
			</p>

			<p>
				Prior to studying I worked for 2 years at an online eCommerce retailer as a Full Stack Developer
				focusing on PHP eCommerce/management systems, scripts and software environments.
			</p>

			<p>Some of my work is featured further down.</p>
		</div>
	</div>

	<div class="attributes-container mt-12 mb-10 mx-auto w-9/12">
		<div class="attributes">
			<div class="attribute">
				<span class="icon">
					{{ include('svg/design.svg') }}
				</span>

				<h2 class="heading">
					Frontend
				</h2>

				<p class="text">
					Specialising in response, modern, designs which translate to any business whether small businesses
					to large enterprises.
				</p>

				<h3 class="heading">
					Skills
				</h3>

				<ul class="list">
					<li>HTML/CSS</li>
					<li>LESS/SASS</li>
					<li>Javascript (ES6)</li>
					<li>TailwindCSS</li>
					<li>Twig</li>
				</ul>

				<h3 class="heading">
					Studying
				</h3>

				<ul class="list">
					<li>React</li>
				</ul>
			</div>

			<div class="attribute">
				<span class="icon">
					{{ include('svg/coding.svg') }}
				</span>

				<h2 class="heading">
					Backend
				</h2>

				<p class="text">
					Responsible for developing applications which can scale for thousands of users - whether they be
					internal or public. Experienced in developing standalone applications with cached data,
					microservices and monolithic applications.
				</p>

				<h3 class="heading">
					Skills
				</h3>

				<ul class="list">
					<li>PHP7</li>
					<li>Symfony Framework 3/4</li>
					<li>Doctrine ORM</li>
					<li>RESTful APIs</li>
					<li>OOP, SOLID, MVC</li>
					<li>PSR</li>
				</ul>

				<h3 class="heading">
					Studying
				</h3>

				<ul class="list">
					<li>Symfony Framework 5</li>
				</ul>
			</div>

			<div class="attribute">
				<span class="icon">
					{{ include('svg/infrastructure.svg') }}
				</span>

				<h2 class="heading">
					Architecture
				</h2>

				<p class="text">
					Developing progressive web applications using Amazon S3, CloudWatch and CloudFront.
				</p>

				<h3 class="heading">
					Skills
				</h3>

				<ul class="list">
					<li>AMQP (RabbitMQ)</li>
					<li>Docker</li>
					<li>Apache/nginx</li>
					<li>Linux</li>
					<li>Git</li>
				</ul>

				<h3 class="heading">
					Studying
				</h3>

				<ul class="list">
					<li>Advanced AMQP</li>
					<li>AWS Lambda</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- skills container -->
	<div class="container">
		<div id="skillCards" class="grid-row info-row"></div>
	</div>

	<!-- work container -->
	<div class="container my-5">
		<h3 class="heading text-2xl text-center mb-3">
			My Work
		</h3>

		<div id="workCards" class="grid-row info-row"></div>
	</div>
{% endblock page_content %}